*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 36px;
}

.clock{
  text-align: center;
  width: auto;
  height: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 13px;
  background-color: green;
}

#time {
  color: red;
  margin: auto;
  text-align: center;
}

#hero {
  position: absolute;
  top: 610px;
  left: 0;
}

#passage {
  position: absolute;
  top: 450px;
  left: 5px;
}

#message_box {
  position: absolute;
  top: 475px;
  left: 200px;
  width: 600px;
  padding: 25px 25px 25px 25px;
  color: white;
  background-color: rgba(0,0,110,.4);
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  visibility: hidden;
}