*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 36px;
}

.clock{
  text-align: center;
  width: auto;
  height: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 13px;
  background-color: green;
}

#time {
  color: red;
  margin: auto;
  text-align: center;
}

#hero {
  position: absolute;
}
